@import url('https://fonts.googleapis.com/css2?family=Quicksand');

body {
    margin: auto;
    max-width: 50rem;
    padding: 1rem;
    font-family: 'Quicksand', sans;
    font-size: 1.1rem;
    color: #0B1111;
}
a {
    text-decoration: none;
}
img {
    max-width: 50rem;
}
@media (max-width: 50rem) {
    img {
        max-width: 100%;
    }
}
